@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap");

body {
  margin: 0;
}

.header {
  background-color: #e85a4f;
  color: #eae7dc;
  height: 4vh;
  width: 98vw;
  font-family: "Edu VIC WA NT Beginner";
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  padding-left: 2vw;
}

.main {
  display: flex;
}

.sidebar {
  background-color: #d8c3a5;
  height: 92vh;
  width: 15vw;
  font-family: "Edu VIC WA NT Beginner";
  font-size: 0.5rem;
}

.content {
  background-color: #eae7dc;
  height: 92vh;
  width: 85vw;
  font-family: "Edu VIC WA NT Beginner";
  font-size: 0.5rem;
  padding-left: 2vw;
  padding-top: 10vh;
  font-size: 2rem;
}

#newTask {
  position: absolute;
  color: #eae7dc;
  background-color: #e85a4f;
  border: 2px solid #d8c3a5;
  right: 15vw;
  bottom: 15vh;
  height: 5vw;
  width: 5vw;
  border-radius: 100%;
  filter: drop-shadow(0 0 0.75rem black);
}

#newTask:hover {
  background-color: #f1827a;
  cursor: pointer;
}

.popupContent {
  position: absolute;
  top: 35vh;
  bottom: 35vh;
  left: 40vw;
  right: 40vw;
  border: 2px solid #e85a4f;
  background-color: #d8c3a5;
  height: 30vh;
  width: 20vw;
  border-radius: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 0.75rem black);
  font-size: 1rem;
  visibility: hidden;
}

.task:hover {
  text-decoration: line-through;
  cursor: pointer;
}

#submit {
  margin-top: 2vh;
  background-color: #e85a4f;
  border: 0.2vh solid black;
  border-radius: 2vh;
}

#submit:hover {
  background-color: #f1827a;
  cursor: pointer;
}

legend {
  font-size: 1.5rem;
}

fieldset {
  border: 0;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer {
  background-color: #e85a4f;
  color: #eae7dc;
  height: 4vh;
  width: 100vw;
  font-family: "Edu VIC WA NT Beginner";
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
